@model CECBTIMS.Models.TimsFile

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-8 mx-auto mb-lg-5">
    <div class="card border-primary mb-3">
        <div class="card-header">File Upload</div>
        <div class="card-body">
            <div class="container pt-4 pb-4">
                @using (Html.BeginForm($"Upload", $"Files", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    <input type="hidden" id="programId" name="programId" value="@(ViewBag.ProgramId)">
                    <div class="form-group">
                        <label for="title">File Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>

                    <div class="form-group">
                        <label for="details">File Details</label>
                        <input type="text" class="form-control" id="details" name="details">
                    </div>

                    <div class="form-group">
                        <label for="FileInput">Select a TimsFile</label>
                        <input type="file" class="form-control-file" id="FileInput" name="file" aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text text-muted">Only Pdf, Docx, Doc, PNG, JPG and JPEG are allowed</small>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Upload" class="btn btn-primary"/>
                    </div>
                }
                
                @ViewBag.Message
            </div>
        </div>
    </div>
</div>