@if (TempData["msg_suc"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success !</strong> @TempData["msg_success"]
    </div>
}

@if (TempData["msg_fail"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> @TempData["msg_fail"].
    </div>
}
