@* @model CECBTIMS.Models.cmn_EmployeeVersion *@
@model IEnumerable<CECBTIMS.Models.cmn_EmployeeVersion>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-10 mx-auto mb-5">

    <div class="card mb-4">
        <div class="card-header">Search Employees</div>
        <div class="card-body">

            <div class="col-10 mx-auto mb-5">
                <div class="container">

                    @using (Html.BeginForm($"Details", $"CECBEmployeeVersion", "",
                        FormMethod.Get, null))
                    {
                        <div class="form-group">
                            <label for="method">Search Method</label>
                            <select class="custom-select" id="method" name="method">
                                <option value="FullName">Full Name</option>
                                <option value="NIC">NIC Number</option>
                                <option value="EPFNo">EPF Number</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="qString">Search String</label>
                            <input type="text" name="q" id="qString" class="form-control" required="required"/>
                        </div>

                        <div class="form-group">
                            <div class="">
                                <input type="submit" value="Find" class="btn btn-primary"/>
                                @Html.ActionLink("Clear Results", $"Details", null, new {@class = "btn btn-outline-secondary"})
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    @if (Model != null)
    {
        <div class="card border-primary">
            <div class="card-header">Search Results</div>
            <div class="card-body">
                <div class="container">

                    @if (Model.Any())
                    {
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>@Model.Count() </strong>results Found.
                        </div>


                        <table class="table table-bordered">
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                            </tr>
                            @{
                                int i = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.FullName</td>
                                        <td>
                                            Details 
                                            Select
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h4 class="alert-heading">Oops!</h4>
                            <p class="mb-0">No results Found.</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

</div>