@{
    ViewBag.Title = "Dashboard";
}

@* Programs section > inside boxes > 4 program types *@


<div class="container">
    <h1 class="dash-title">CECB Training Information Management System.</h1>
    <div class="dash-icon-container col-lg-7 col-md-9 col-sm-12 mx-auto">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 dash-icon">
                <div class="dash-icon-content">
                    <a href="/Programs/Find">
                        <i class="fa fa-hand-spock-o"></i>
                        Training Programs
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 dash-icon">
                <div class="dash-icon-content">
                    <a href="/Programs/">
                        <i class="fa fa-money"></i>
                        Section Payments
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 dash-icon">
                <div class="dash-icon-content">
                    <a href="/Programs/">
                        <i class="fa fa-bank"></i>
                        <p>Program Organisers</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 dash-icon">
                <div class="dash-icon-content">
                    <a href="/Programs/">
                        <i class="fa fa-user"></i>
                        <p>Employees</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 dash-icon">
                <div class="dash-icon-content">
                    <a href="/Programs/">
                        <i class="fa fa-file-word-o"></i>
                        <p>Program Documents</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 dash-icon">
                <div class="dash-icon-content">
                    <a href="/Programs/">
                        <i class="fa fa-file-code-o"></i>
                        <p>Document Templates</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 dash-icon">
                <div class="dash-icon-content">
                    <a href="/Programs/">
                        <i class="fa fa-cogs"></i>
                        <p>System Configures</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 dash-icon">
                <div class="dash-icon-content">
                    <a href="/Programs/">
                        <i class="fa fa-sign-out"></i>
                        <p>Logout</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 dash-icon">
                <div class="dash-icon-content">
                    <a href="/Accounts/">
                        <i class="fa fa-bank"></i>
                        <p>User Accounts</p>
                    </a>
                </div>
            </div>
            @* <div class="col-lg-3 col-md-4 col-sm-6 dash-icon"> *@
            @*     <div class="dash-icon-content"> *@
            @*         <a href="/Programs/"> *@
            @*             <i class="fa fa-bank"></i> *@
            @*             <p>Program Organisers</p> *@
            @*         </a> *@
            @*     </div> *@
            @* </div> *@
        </div>
    </div>
</div>